<h1 class="my-3">Registre-se!</h1>
<form action="">
   <label for="email">
      <input class="form-control d-block mb-2" type="email" name="" id="email" placeholder="email@email.com">
   </label>
   <label for="password">
      <input class="form-control d-block mb-2" type="password" name="" id="password" placeholder="Senha">
   </label>
   <label for="password">
      <input class="form-control d-block mb-2" type="password" name="" id="confirmPassword" placeholder="Confirmar senha">
   </label>
   <button class="btn btn-success" (click)="registrar()">Registrar</button> 
</form>